### 0. DB연결

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import sqlalchemy

In [2]:
#engine = create_engine("mysql+pymysql://root:"+"mariadb"+"@127.0.0.1:3307/ai_test?charset=utf8", encoding='utf-8')
engine = create_engine("mysql+pymysql://root:"+"mariadb"+"@10.184.9.128:3307/ai_test?charset=utf8", encoding='utf-8')

# Open database connection
db = pymysql.connect(host='10.184.9.128', port=3307, user='root', passwd='mariadb', db='ai_test',charset='utf8',autocommit=True)

conn = engine.connect()

# Connection 으로부터 Cursor 생성
curs = db.cursor()
 
# Connection 닫기
# conn.close()

### 1. 라이브러리 추가

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard, ModelCheckpoint

### 2. 데이터 정제

In [5]:
# featureData = pd.read_csv("dataset/OT_F_DATA_V4.csv")

In [6]:
# 2분 소요
print("Data Loading.........")
featureData = pd.read_sql_query('SELECT * from TB_ORG_DATA', conn)

Data Loading.........

In [7]:
paramData = pd.read_sql_query('SELECT * from TB_PY_CODE',conn )

In [8]:
le_prod_id = LabelEncoder()

In [9]:
featureData["LE_PROD_NM"] = le_prod_id.fit_transform(featureData.PROD_NM)

### 입력 파라메터 설정

In [10]:
features = []

for i in paramData[paramData.CODE_ID == 'FEATURE01']['CODE_VALUE'].values:
    features.append(i)
    
label = ['LE_PROD_NM']

features_norm = []

for i in features:
    features_norm.append(i + '_NORM')

# DNN 설정
dnnDensLevel = int(paramData[paramData.CODE_NAME == 'dnnDensLevel']['CODE_VALUE'].values[0])
DensUnit = int(paramData[paramData.CODE_NAME == 'DensUnit']['CODE_VALUE'].values[0])
epochNo = int(paramData[paramData.CODE_NAME == 'epochNo']['CODE_VALUE'].values[0])
DenseActivation = str(paramData[paramData.CODE_NAME == 'DenseActivation']['CODE_VALUE'].values[0])
dnnLoss =  str(paramData[paramData.CODE_NAME == 'dnnLoss']['CODE_VALUE'].values[0])
dnnOptimizer = str(paramData[paramData.CODE_NAME == 'dnnOptimizer']['CODE_VALUE'].values[0])



callback_list = [
    EarlyStopping(monitor="val_loss", patience=3)
]

In [11]:

##max 값 저장
de_norm = featureData[features].max()

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
trainingData_features,testData_features,trainingData_label,testData_label,trainingData_all,testData_all = \
train_test_split(featureData[features],featureData[label],featureData, test_size=0.2, random_state=1)

In [14]:
from tensorflow.keras.utils import to_categorical

In [15]:
trainingData_labels_one = to_categorical(trainingData_label)
testData_labels_one = to_categorical(testData_label)

In [16]:
def norm(x):
    return (x/x.max())

In [17]:
trainingData_features_normed = norm(trainingData_features)
testData_features_normed = norm(testData_features)

### 일반 화 컬럼 생성 및 전체 데이터 conact

In [18]:
norm_data  = norm(featureData[features])

In [19]:
norm_data.columns = features_norm

In [20]:
featureData_norm = pd.concat([featureData,norm_data],axis=1)

In [21]:
featureData_norm.head(10)

,USE_YYMM,CTRT_ID,PROD_ID,PROD_NM,USE_VOICE,USE_OVER_VOICE_AMT,USE_SMS,USE_OVER_SMS_AMT,USE_DATA,USE_OVER_DATA_AMT,...,BIRTH_DT,AGE,SEX_NUM,TOTAL_AMT,LE_PROD_NM,AGE_NORM,SEX_NUM_NORM,TOTAL_AMT_NORM,PROD_AMT_NORM,USE_DATA_NORM
0,201901,C013600189,PDB0000160,헬로LTE 표준,34,3702.6,316,7230,0,0.00,...,20090717,10,1,19932,10,0.093458,0.5,0.004370,0.163934,0.000000
1,201901,C013896915,PDB0000160,헬로LTE 표준,2,268.2,0,0,0,0.00,...,19370720,82,2,9268,10,0.766355,1.0,0.002032,0.163934,0.000000
2,201901,C013819537,PDB0000160,헬로LTE 표준,107,11516.4,0,0,0,0.00,...,19600215,59,2,20516,10,0.551402,1.0,0.004498,0.163934,0.000000
3,201901,C013934795,PDB0000160,헬로LTE 표준,119,12879.0,3,60,0,0.00,...,19840610,35,1,21939,10,0.327103,0.5,0.004810,0.163934,0.000000
4,201901,C013753524,PDB0000160,헬로LTE 표준,0,0.0,36,720,0,0.00,...,19740521,45,2,9720,10,0.420561,1.0,0.002131,0.163934,0.000000
5,201901,C013730887,PDB0000160,헬로LTE 표준,2,239.4,0,0,25,510.92,...,19810322,38,2,9750,10,0.355140,1.0,0.002138,0.163934,0.000047
6,201901,C013685940,PDB0000160,헬로LTE 표준,13,1355.4,0,0,0,0.00,...,19461025,73,1,10355,10,0.682243,0.5,0.002270,0.163934,0.000000
7,201901,C013772927,PDB0000160,헬로LTE 표준,49,5344.2,2,400,0,0.00,...,19701128,48,1,14744,10,0.448598,0.5,0.003233,0.163934,0.000000
8,201901,C013881550,PDB0000160,헬로LTE 표준,87,9378.0,0,0,0,0.00,...,19370808,82,2,18378,10,0.766355,1.0,0.004029,0.163934,0.000000
9,201901,C013831921,PDB0000160,헬로LTE 표준,58,6147.0,35,700,25,521.15,...,19650420,54,2,16368,10,0.504673,1.0,0.003589,0.163934,0.000047

### 3. 모델 생성

In [22]:
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Flatten
from sklearn import tree
from sklearn import linear_model
from sklearn import ensemble
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import neighbors
from sklearn import decomposition

In [23]:
inputDim = trainingData_features.loc[0,:].shape
inputDim

(5,)

In [24]:
outputShape = len(featureData['LE_PROD_NM'].unique())
outputShape

15

In [25]:
model = Sequential()
model.add(Dense(units=DensUnit, activation=DenseActivation,input_shape=inputDim))
for i in range(0,dnnDensLevel):    
    model.add(Dense(units=DensUnit, activation=DenseActivation))
    
model.add(Dense(units=outputShape, activation="softmax"))    
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 48)                288
_________________________________________________________________
dense_1 (Dense)              (None, 48)                2352
_________________________________________________________________
dense_2 (Dense)              (None, 48)                2352
_________________________________________________________________
dense_3 (Dense)              (None, 15)                735
=================================================================
Total params: 5,727
Trainable params: 5,727
Non-trainable params: 0
_________________________________________________________________

### 4. 모델 컴파일

In [26]:
model.compile(loss=dnnLoss, optimizer=dnnOptimizer, metrics=["accuracy"])

### 5. 모델 학습

In [27]:
model.fit(x=trainingData_features_normed,y=trainingData_labels_one, epochs=epochNo,
          batch_size = 32,
          validation_data=(testData_features_normed,testData_labels_one),
          callbacks = callback_list)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 1289932 samples, validate on 322484 samples
Epoch 1/2
1289932/1289932 [==============================] - 53s 41us/sample - loss: 0.1842 - accuracy: 0.9124 - val_loss: 0.1464 - val_accuracy: 0.9225
Epoch 2/2
1289932/1289932 [==============================] - 51s 40us/sample - loss: 0.1437 - accuracy: 0.9244 - val_loss: 0.1478 - val_accuracy: 0.9372

### 추론

In [28]:
print("predicting .....")

predicting .....

In [29]:
# predict= pd.DataFrame(model_rf.predict(featureData_norm[features_norm]),columns=["predict_rf"])
featureData['predict_dnn'] = pd.DataFrame(model.predict(featureData_norm[features_norm])).idxmax(axis=1)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [30]:
# featureData.to_sql(name='TB_ORG_DATA_PREDICT', con=engine, if_exists='append', index=False)

In [31]:
featureData.head(10)

,USE_YYMM,CTRT_ID,PROD_ID,PROD_NM,USE_VOICE,USE_OVER_VOICE_AMT,USE_SMS,USE_OVER_SMS_AMT,USE_DATA,USE_OVER_DATA_AMT,...,ORDER_TP,PROMOTION_NM,CUST_TP,SEX_TP,BIRTH_DT,AGE,SEX_NUM,TOTAL_AMT,LE_PROD_NM,predict_dnn
0,201901,C013600189,PDB0000160,헬로LTE 표준,34,3702.6,316,7230,0,0.00,...,103,S1766924,A,M,20090717,10,1,19932,10,10
1,201901,C013896915,PDB0000160,헬로LTE 표준,2,268.2,0,0,0,0.00,...,103,S1805493,A,F,19370720,82,2,9268,10,10
2,201901,C013819537,PDB0000160,헬로LTE 표준,107,11516.4,0,0,0,0.00,...,103,S1892823,A,F,19600215,59,2,20516,10,10
3,201901,C013934795,PDB0000160,헬로LTE 표준,119,12879.0,3,60,0,0.00,...,103,S1811227,A,M,19840610,35,1,21939,10,10
4,201901,C013753524,PDB0000160,헬로LTE 표준,0,0.0,36,720,0,0.00,...,103,S1883277,A,F,19740521,45,2,9720,10,10
5,201901,C013730887,PDB0000160,헬로LTE 표준,2,239.4,0,0,25,510.92,...,101,S1880840,A,F,19810322,38,2,9750,10,10
6,201901,C013685940,PDB0000160,헬로LTE 표준,13,1355.4,0,0,0,0.00,...,102,S1776603,A,M,19461025,73,1,10355,10,10
7,201901,C013772927,PDB0000160,헬로LTE 표준,49,5344.2,2,400,0,0.00,...,103,S1884999,A,M,19701128,48,1,14744,10,10
8,201901,C013881550,PDB0000160,헬로LTE 표준,87,9378.0,0,0,0,0.00,...,103,S1802864,A,F,19370808,82,2,18378,10,10
9,201901,C013831921,PDB0000160,헬로LTE 표준,58,6147.0,35,700,25,521.15,...,103,S1894507,A,F,19650420,54,2,16368,10,10

In [32]:
predict= pd.DataFrame(pd.DataFrame(model.predict(testData_features_normed)).idxmax(axis=1),columns=["predict_dnn"])

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [33]:
test_labels_result = pd.DataFrame(pd.DataFrame(testData_labels_one).idxmax(axis=1),columns=["true_data"])

In [34]:
accur_score   = accuracy_score(predict['predict_dnn'],test_labels_result['true_data'])

In [37]:
full_accur_score = accuracy_score(featureData['predict_dnn'],featureData["LE_PROD_NM"])

In [124]:
print("accuracy_score testData : " + str(accur_score))

accuracy_score testData : 0.8950521576264249

In [40]:
print("accuracy_score allData : " + str(full_accur_score))

accuracy_score allData : 0.9190109748352783

### 모델 저장

In [41]:
print('model saving....')

model saving....

In [42]:
currentdate = datetime.now().strftime("%Y%m%d%H%M%S")

In [43]:
file_path = "d:/log_model/"
model_path = file_path + "model_recommend_dnn_{}.json".format(currentdate)
weight_path = file_path + "model_recommend_dnn_weight_{}.h5".format(currentdate)

In [44]:
model_json = model.to_json()
with open(model_path, "w") as json_file:
    json_file.write(model_json)

model.save_weights(weight_path)

### 수행 이력 저장 및 학습 데이터 DB저장

In [57]:
predictDbName = "TB_PREDICT_{}".format(currentdate)

In [ ]:
featureData.to_sql(name=predictDbName, con=engine, if_exists='append', index=False)

In [59]:
print('result saving....')

result saving....

In [60]:
HisData = pd.read_sql_query('SELECT * from TB_RUN_HISTORY', conn) 
HisData

,RUN_DATE,RUN_CD,FILE_CD,FILE_PATH,FILE_NAME,REMARK,ACC_VAL
0,20191113140736,R20191113140736,1,d:/log_model/,d:/log_model/model_recommend_dnn_2019111314073...,[['dnnDensLevel' '2']\n ['DensUnit' '48']\n ['...,0.8950521576264249
1,20191113151002,R20191113151002,1,d:/log_model/,d:/log_model/model_recommend_dnn_2019111315100...,[['dnnDensLevel' '2']\n ['DensUnit' '48']\n ['...,0.9176269210255392
2,20191113153754,R20191113153754,1,d:/log_model/,d:/log_model/model_recommend_dnn_2019111315375...,[['dnnDensLevel' '2']\n ['DensUnit' '48']\n ['...,0.9372309944059241

In [47]:
# sql = "INSERT INTO TB_RUN_HISTORY (RUN_DATE, RUN_CD, FILE_CD,FILE_PATH,FILE_NAME,REMARK ) VALUES (%s, %s, %s, %s, %s, %s)"
# val = (currentdate,
#        'R' + currentdate  ,
#        '1' ,
#        file_path,
#        model_path,   #+','+ weight_path,
#        str(accur_score)  + ',' + str(features) 
#       )
# curs.execute(sql, val)

# db.commit()

In [48]:
insertPd = pd.DataFrame([[currentdate,
               'R' + currentdate  ,
               predictDbName ,
               file_path,
               model_path +','+ weight_path,
               str(paramData[['CODE_NAME','CODE_VALUE']].values),
               str(accur_score)  
                          
              ]],columns=HisData.columns)

In [49]:
insertPd

,RUN_DATE,RUN_CD,FILE_CD,FILE_PATH,FILE_NAME,REMARK,ACC_VAL
0,20191113153754,R20191113153754,1,d:/log_model/,d:/log_model/model_recommend_dnn_2019111315375...,[['dnnDensLevel' '2']\n ['DensUnit' '48']\n ['...,0.9372309944059241

In [50]:
insertPd.to_sql('TB_RUN_HISTORY', conn,if_exists='append',index=False)

C:\Users\User\Anaconda3\lib\site-packages\pandas\io\sql.py:1336: UserWarning: The provided table name 'TB_RUN_HISTORY' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [51]:
HisData = pd.read_sql_query('SELECT * from TB_RUN_HISTORY', conn)
print(HisData.tail(1))

         RUN_DATE           RUN_CD FILE_CD      FILE_PATH  \
2  20191113153754  R20191113153754       1  d:/log_model/

                                           FILE_NAME  \
2  d:/log_model/model_recommend_dnn_2019111315375...

                                              REMARK             ACC_VAL
2  [['dnnDensLevel' '2']\n ['DensUnit' '48']\n ['...  0.9372309944059241

In [54]:
print("file path")
print(HisData.tail(1)['FILE_NAME'].values)

file path
['d:/log_model/model_recommend_dnn_20191113153754.json,d:/log_model/model_recommend_dnn_weight_20191113153754.h5']