### 0. DB연결

In [45]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import sqlalchemy

In [ ]:
#engine = create_engine("mysql+pymysql://root:"+"mariadb"+"@127.0.0.1:3307/ai_test?charset=utf8", encoding='utf-8')
engine = create_engine("mysql+pymysql://root:"+"mariadb"+"@10.184.9.128:3307/ai_test?charset=utf8", encoding='utf-8')

# Open database connection
db = pymysql.connect(host='10.184.9.128', port=3307, user='root', passwd='mariadb', db='ai_test',charset='utf8',autocommit=True)

conn = engine.connect()

# Connection 으로부터 Cursor 생성
curs = db.cursor()
 
# Connection 닫기
# conn.close()

### 1. 라이브러리 추가

In [3]:
import pandas as pd
import numpy as np

In [4]:
from sklearn.preprocessing import LabelEncoder

### 2. 데이터 정제

In [5]:
featureData = pd.read_csv("dataset/OT_F_DATA_V4.csv")

In [6]:
len(featureData)

1612416

In [7]:
featureData['PROD_NM'].unique()

array(['헬로LTE 표준', '슬림 2GB', '슬림 1GB', '슬림 250MB', 'The 착한 데이터 10GB',
       'The 착한 데이터 6GB', 'The 착한 데이터 2GB', 'The 착한 데이터 2GB(new)',
       'The 착한 데이터 1GB', 'The 착한 데이터 300MB', '헬로LTE42(안심차단)',
       '헬로LTE34(안심차단)', '헬로LTE29', '헬로LTE17', '헬로LTE 청소년윙 19(new)'],
      dtype=object)

In [8]:
featureData.dtypes

USE_YYMM                int64
CTRT_ID                object
PROD_ID                object
PROD_NM                object
USE_VOICE               int64
USE_OVER_VOICE_AMT    float64
USE_SMS                 int64
USE_OVER_SMS_AMT        int64
USE_DATA                int64
USE_OVER_DATA_AMT     float64
PROD_AMT                int64
PROD_VOICE              int64
PROD_SMS                int64
PROD_DATA               int64
DATA_LIMIT_YN           int64
CUST_ID                object
ACT_DTTM                int64
ORDER_TP                int64
PROMOTION_NM           object
CUST_TP                object
SEX_TP                 object
BIRTH_DT                int64
AGE                     int64
SEX_NUM                 int64
TOTAL_AMT               int64
dtype: object

In [13]:
le_prod_id = LabelEncoder()

In [14]:
featureData["LE_PROD_NM"] = le_prod_id.fit_transform(featureData.PROD_NM)

In [15]:
featureData.head()
featureData['LE_PROD_NM'].unique()

array([10,  8,  6,  7,  0,  5,  2,  3,  1,  4, 14, 13, 12, 11,  9],
      dtype=int64)

In [16]:
features = ['AGE',
            'SEX_NUM',
            'TOTAL_AMT',
            'PROD_AMT',
            'USE_VOICE',
            'USE_OVER_VOICE_AMT',
            'USE_SMS',
            'USE_OVER_DATA_AMT',
            'USE_DATA',
            'USE_OVER_DATA_AMT',
            'DATA_LIMIT_YN'
            ]
label = ['LE_PROD_NM']

features_norm = ['AGE_NORM', 'SEX_NUM_NORM', 'TOTAL_AMT_NORM','PROD_AMT_NORM','USE_DATA_NORM']

epochNo = 5

In [17]:
de_norm = featureData[features].max()

In [18]:
de_norm

AGE                       107.00
SEX_NUM                     2.00
TOTAL_AMT             4560977.00
PROD_AMT                54900.00
USE_VOICE               13194.00
USE_OVER_VOICE_AMT     502452.00
USE_SMS                 61523.00
USE_OVER_DATA_AMT     4513929.35
USE_DATA               534385.00
USE_OVER_DATA_AMT     4513929.35
DATA_LIMIT_YN               1.00
dtype: float64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
trainingData_features,testData_features,trainingData_label,testData_label,trainingData_all,testData_all = \
train_test_split(featureData[features],featureData[label],featureData, test_size=0.2, random_state=1)

In [21]:
from tensorflow.keras.utils import to_categorical

In [22]:
trainingData_labels_one = to_categorical(trainingData_label)
testData_labels_one = to_categorical(testData_label)

In [23]:
def norm(x):
    return (x/x.max())

In [24]:
trainingData_features_normed = norm(trainingData_features)
testData_features_normed = norm(testData_features)

In [27]:
featureData[features].apply(norm)

,AGE,SEX_NUM,TOTAL_AMT,PROD_AMT,USE_VOICE,USE_OVER_VOICE_AMT,USE_SMS,USE_OVER_DATA_AMT,USE_DATA,USE_OVER_DATA_AMT,DATA_LIMIT_YN
0,0.093458,0.5,0.004370,0.163934,0.002577,0.007369,0.005136,0.0,0.0,0.0,0.0
1,0.766355,1.0,0.002032,0.163934,0.000152,0.000534,0.000000,0.0,0.0,0.0,0.0
2,0.551402,1.0,0.004498,0.163934,0.008110,0.022920,0.000000,0.0,0.0,0.0,0.0
3,0.327103,0.5,0.004810,0.163934,0.009019,0.025632,0.000049,0.0,0.0,0.0,0.0
4,0.420561,1.0,0.002131,0.163934,0.000000,0.000000,0.000585,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1612411,0.112150,1.0,0.004166,0.346084,0.008186,0.000000,0.021455,0.0,0.0,0.0,0.0
1612412,0.093458,1.0,0.004166,0.346084,0.005381,0.000000,0.003738,0.0,0.0,0.0,0.0
1612413,0.102804,0.5,0.004166,0.346084,0.014704,0.000000,0.047950,0.0,0.0,0.0,0.0
1612414,0.102804,0.5,0.004166,0.346084,0.004244,0.000000,0.000975,0.0,0.0,0.0,0.0
1612415,0.102804,0.5,0.004166,0.346084,0.004548,0.000000,0.002438,0.0,0.0,0.0,0.0

In [30]:
norm_data = norm(featureData[features])

In [61]:
norm_data = pd.DataFrame(norm(featureData[features])).rename(columns={'AGE':'AGE_NORM',
                                                          'SEX_NUM':'SEX_NUM_NORM',
                                                          'TOTAL_AMT':'TOTAL_AMT_NORM',
                                                          'PROD_AMT':'PROD_AMT_NORM',
                                                          'USE_DATA':'USE_DATA_NORM'})

In [ ]:
norm_data

In [65]:
featureData_norm = pd.concat([featureData,norm_data],axis=1)

In [66]:
featureData_norm

,USE_YYMM,CTRT_ID,PROD_ID,PROD_NM,USE_VOICE,USE_OVER_VOICE_AMT,USE_SMS,USE_OVER_SMS_AMT,USE_DATA,USE_OVER_DATA_AMT,...,BIRTH_DT,AGE,SEX_NUM,TOTAL_AMT,LE_PROD_NM,AGE_NORM,SEX_NUM_NORM,TOTAL_AMT_NORM,PROD_AMT_NORM,USE_DATA_NORM
0,201901,C013600189,PDB0000160,헬로LTE 표준,34,3702.6,316,7230,0,0.0,...,20090717,10,1,19932,10,0.093458,0.5,0.004370,0.163934,0.0
1,201901,C013896915,PDB0000160,헬로LTE 표준,2,268.2,0,0,0,0.0,...,19370720,82,2,9268,10,0.766355,1.0,0.002032,0.163934,0.0
2,201901,C013819537,PDB0000160,헬로LTE 표준,107,11516.4,0,0,0,0.0,...,19600215,59,2,20516,10,0.551402,1.0,0.004498,0.163934,0.0
3,201901,C013934795,PDB0000160,헬로LTE 표준,119,12879.0,3,60,0,0.0,...,19840610,35,1,21939,10,0.327103,0.5,0.004810,0.163934,0.0
4,201901,C013753524,PDB0000160,헬로LTE 표준,0,0.0,36,720,0,0.0,...,19740521,45,2,9720,10,0.420561,1.0,0.002131,0.163934,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612411,201909,C013833634,PDB0000113,헬로LTE 청소년윙 19(new),108,0.0,1320,0,0,0.0,...,20071005,12,2,19000,9,0.112150,1.0,0.004166,0.346084,0.0
1612412,201909,C013833102,PDB0000113,헬로LTE 청소년윙 19(new),71,0.0,230,0,0,0.0,...,20090303,10,2,19000,9,0.093458,1.0,0.004166,0.346084,0.0
1612413,201909,C013969989,PDB0000113,헬로LTE 청소년윙 19(new),194,0.0,2950,0,0,0.0,...,20080425,11,1,19000,9,0.102804,0.5,0.004166,0.346084,0.0
1612414,201909,C013432301,PDB0000113,헬로LTE 청소년윙 19(new),56,0.0,60,0,0,0.0,...,20080613,11,1,19000,9,0.102804,0.5,0.004166,0.346084,0.0
1612415,201909,C014048316,PDB0000113,헬로LTE 청소년윙 19(new),60,0.0,150,0,0,0.0,...,20080808,11,1,19000,9,0.102804,0.5,0.004166,0.346084,0.0

### 3. 모델 생성

In [31]:
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Flatten
from sklearn import tree
from sklearn import linear_model
from sklearn import ensemble
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import neighbors
from sklearn import decomposition

In [32]:
inputDim = trainingData_features.loc[0,:].shape
inputDim

(11,)

In [33]:
outputShape = len(featureData['LE_PROD_NM'].unique())
outputShape

15

In [34]:
# model_method_svm = svm.SVC(random_state=1)
model_method_dt = tree.DecisionTreeClassifier(random_state =1)    #DecisionTreeRegressor(random_state =1) ,maxdepth=15
model_method_kn = neighbors.KNeighborsClassifier(n_neighbors=10)
model_method_rf = ensemble.RandomForestClassifier(random_state =1, n_estimators= 10)

In [39]:
model = Sequential()
model.add(Dense(units=48, activation="relu",input_shape=inputDim))
model.add(Dense(units=152, activation="relu"))
model.add(Dense(units=512, activation="relu"))
model.add(Dense(units=outputShape, activation="softmax"))
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 48)                576
_________________________________________________________________
dense_8 (Dense)              (None, 152)               7448
_________________________________________________________________
dense_9 (Dense)              (None, 512)               78336
_________________________________________________________________
dense_10 (Dense)             (None, 15)                7695
=================================================================
Total params: 94,055
Trainable params: 94,055
Non-trainable params: 0
_________________________________________________________________

### 4. 모델 컴파일

In [40]:
model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])

### 5. 모델 학습

In [41]:
trainingData_label

         LE_PROD_NM
1065970           4
885199            3
1068890           4
1082259           4
1444489          11
...             ...
836489            2
491263            0
470924            0
491755            0
128037            8

[1289932 rows x 1 columns]

In [42]:
model.fit(x=trainingData_features_normed,y=trainingData_labels_one, epochs=epochNo,
          batch_size = 32,
         validation_data=(testData_features_normed,testData_labels_one))

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 1289932 samples, validate on 322484 samples
Epoch 1/5
1289932/1289932 [==============================] - 88s 68us/sample - loss: 0.1440 - accuracy: 0.9218 - val_loss: 0.1260 - val_accuracy: 0.9247
Epoch 2/5
1289932/1289932 [==============================] - 89s 69us/sample - loss: 0.1089 - accuracy: 0.9356 - val_loss: 0.1795 - val_accuracy: 0.9141
Epoch 3/5
1289932/1289932 [==============================] - 90s 70us/sample - loss: 0.1029 - accuracy: 0.9383 - val_loss: 0.1135 - val_accuracy: 0.9371
Epoch 4/5
1289932/1289932 [==============================] - 86s 66us/sample - loss: 0.1001 - accuracy: 0.9402 - val_loss: 0.1947 - val_accuracy: 0.9105
Epoch 5/5
1289932/1289932 [==============================] - 86s 66us/sample - loss: 0.0979 - accuracy: 0.9413 - val_loss: 0.2607 - val_accuracy: 0.9042

In [43]:
# model_svm = model_method_svm.fit(trainingData_features_normed ,trainingData_labels_one)
model_dt  = model_method_dt.fit (trainingData_features_normed ,trainingData_label)  ##카테고리 가능
model_kn  = model_method_kn.fit (trainingData_features_normed ,trainingData_label)
model_rf  = model_method_rf.fit (trainingData_features_normed ,trainingData_label)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

### 추론

In [50]:
##딥러닝
le_prod_id.inverse_transform([np.argmax(loaded_model.predict(testData_features_normed.head(1)))])

array(['슬림 250MB'], dtype=object)

In [44]:
## Decision Trees
le_prod_id.inverse_transform([np.argmax(model_dt.predict(testData_features_normed.head(1)))])

array(['슬림 250MB'], dtype=object)

In [52]:
## KNN 알고리즘
le_prod_id.inverse_transform([np.argmax(model_kn.predict(testData_features_normed.head(1)))])

array(['슬림 250MB'], dtype=object)

In [54]:
## 랜덤 포레스트
le_prod_id.inverse_transform([np.argmax(model_rf.predict(testData_features_normed.head(1)))])

array(['슬림 250MB'], dtype=object)

In [88]:
featureData.head(10)

,USE_YYMM,CTRT_ID,PROD_ID,PROD_NM,USE_VOICE,USE_OVER_VOICE_AMT,USE_SMS,USE_OVER_SMS_AMT,USE_DATA,USE_OVER_DATA_AMT,...,SEX_TP,BIRTH_DT,AGE,SEX_NUM,TOTAL_AMT,LE_PROD_NM,predict_dnn,predict_dt,predict_kn,predict_rf
0,201901,C013600189,PDB0000160,헬로LTE 표준,34,3702.6,316,7230,0,0.00,...,M,20090717,10,1,19932,10,10,10,10,10
1,201901,C013896915,PDB0000160,헬로LTE 표준,2,268.2,0,0,0,0.00,...,F,19370720,82,2,9268,10,10,10,10,10
2,201901,C013819537,PDB0000160,헬로LTE 표준,107,11516.4,0,0,0,0.00,...,F,19600215,59,2,20516,10,10,10,10,10
3,201901,C013934795,PDB0000160,헬로LTE 표준,119,12879.0,3,60,0,0.00,...,M,19840610,35,1,21939,10,10,10,10,10
4,201901,C013753524,PDB0000160,헬로LTE 표준,0,0.0,36,720,0,0.00,...,F,19740521,45,2,9720,10,10,10,10,10
5,201901,C013730887,PDB0000160,헬로LTE 표준,2,239.4,0,0,25,510.92,...,F,19810322,38,2,9750,10,10,10,10,10
6,201901,C013685940,PDB0000160,헬로LTE 표준,13,1355.4,0,0,0,0.00,...,M,19461025,73,1,10355,10,10,10,10,10
7,201901,C013772927,PDB0000160,헬로LTE 표준,49,5344.2,2,400,0,0.00,...,M,19701128,48,1,14744,10,10,10,10,10
8,201901,C013881550,PDB0000160,헬로LTE 표준,87,9378.0,0,0,0,0.00,...,F,19370808,82,2,18378,10,10,10,10,10
9,201901,C013831921,PDB0000160,헬로LTE 표준,58,6147.0,35,700,25,521.15,...,F,19650420,54,2,16368,10,10,10,10,10

In [123]:
# predict= pd.DataFrame(model_rf.predict(featureData_norm[features_norm]),columns=["predict_rf"])
featureData['predict_dnn'] = pd.DataFrame(model.predict(featureData_norm[features_norm])).idxmax(axis=1)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [81]:
featureData['predict_dt']= pd.DataFrame(model_dt.predict(featureData_norm[features_norm]))

In [83]:
featureData['predict_kn']= pd.DataFrame(model_kn.predict(featureData_norm[features_norm]))

In [84]:
featureData['predict_rf']= pd.DataFrame(model_rf.predict(featureData_norm[features_norm]))

In [89]:
featureData.to_sql(name='TB_ORG_DATA_PREDICT', con=engine, if_exists='append', index=False)

C:\Users\User\Anaconda3\lib\site-packages\pandas\io\sql.py:1336: UserWarning: The provided table name 'TB_ORG_DATA_PREDICT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [90]:
featureData.head(10)

,USE_YYMM,CTRT_ID,PROD_ID,PROD_NM,USE_VOICE,USE_OVER_VOICE_AMT,USE_SMS,USE_OVER_SMS_AMT,USE_DATA,USE_OVER_DATA_AMT,...,SEX_TP,BIRTH_DT,AGE,SEX_NUM,TOTAL_AMT,LE_PROD_NM,predict_dnn,predict_dt,predict_kn,predict_rf
0,201901,C013600189,PDB0000160,헬로LTE 표준,34,3702.6,316,7230,0,0.00,...,M,20090717,10,1,19932,10,10,10,10,10
1,201901,C013896915,PDB0000160,헬로LTE 표준,2,268.2,0,0,0,0.00,...,F,19370720,82,2,9268,10,10,10,10,10
2,201901,C013819537,PDB0000160,헬로LTE 표준,107,11516.4,0,0,0,0.00,...,F,19600215,59,2,20516,10,10,10,10,10
3,201901,C013934795,PDB0000160,헬로LTE 표준,119,12879.0,3,60,0,0.00,...,M,19840610,35,1,21939,10,10,10,10,10
4,201901,C013753524,PDB0000160,헬로LTE 표준,0,0.0,36,720,0,0.00,...,F,19740521,45,2,9720,10,10,10,10,10
5,201901,C013730887,PDB0000160,헬로LTE 표준,2,239.4,0,0,25,510.92,...,F,19810322,38,2,9750,10,10,10,10,10
6,201901,C013685940,PDB0000160,헬로LTE 표준,13,1355.4,0,0,0,0.00,...,M,19461025,73,1,10355,10,10,10,10,10
7,201901,C013772927,PDB0000160,헬로LTE 표준,49,5344.2,2,400,0,0.00,...,M,19701128,48,1,14744,10,10,10,10,10
8,201901,C013881550,PDB0000160,헬로LTE 표준,87,9378.0,0,0,0,0.00,...,F,19370808,82,2,18378,10,10,10,10,10
9,201901,C013831921,PDB0000160,헬로LTE 표준,58,6147.0,35,700,25,521.15,...,F,19650420,54,2,16368,10,10,10,10,10

In [124]:
accuracy_score(featureData['predict_dnn'],featureData['LE_PROD_NM'])

0.7863808099150591

In [125]:
accuracy_score(featureData['predict_dt'],featureData['LE_PROD_NM'])

0.9866399241882988

In [93]:
accuracy_score(featureData['predict_kn'],featureData['LE_PROD_NM'])

0.9656428613955704

In [94]:
accuracy_score(featureData['predict_rf'],featureData['LE_PROD_NM'])

0.9847768814003334

In [95]:
predict= pd.DataFrame(model_rf.predict(testData_features_normed),columns=["predict_rf"])

In [126]:
predict['predict_dt'] = model_dt.predict(testData_features_normed)

In [97]:
predict['predict_kn'] = model_kn.predict(testData_features_normed)

In [98]:
predict['predict_kn'] = model_kn.predict(testData_features_normed)

In [99]:
predict['predict_dnn'] = pd.DataFrame(model.predict(testData_features_normed)).idxmax(axis=1)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [100]:
test_labels_result = pd.DataFrame(pd.DataFrame(testData_labels_one).idxmax(axis=1),columns=["true_data"])

In [127]:
accuracy_score(predict['predict_dnn'],test_labels_result['true_data'])

0.8927667729251684

In [102]:
accuracy_score(predict['predict_rf'],test_labels_result['true_data'])

0.9057007479440841

In [105]:
accuracy_score(predict['predict_dt'],test_labels_result['true_data'])

0.912752260577269

In [104]:
accuracy_score(predict['predict_kn'],test_labels_result['true_data'])

0.8780218553478623

In [43]:
le_prod_id.inverse_transform([7])

array(['슬림 250MB'], dtype=object)

In [162]:
def denorm(x):
    for i in range(0,len(x.columns)):
        print(x.iloc[0][i] * de_norm[i])
    
    
    return x

In [171]:
def denorm(x):
    for i in range(0,len(x.columns)):
        print( x.columns.array[i] + ' : ' +  str(x.iloc[0][i] * de_norm[i]))
        
        
    return x

In [245]:
testNorm = denorm(testData_features_normed.head(1))
testNorm
# ;
# testNorm = testData_features_normed.head(1)

AGE : 10.0
SEX_NUM : 1.0
TOTAL_AMT : 30000.0
PROD_AMT : 20000.0
USE_DATA : 4866.894353369764

              AGE  SEX_NUM  TOTAL_AMT  PROD_AMT  USE_DATA
1538448  0.093458      0.5   0.006578  0.364299  0.009107

In [210]:
testNorm.iloc[0][0]

0.09345794392523364

In [211]:
testNorm.columns.array[0]

'AGE'

In [212]:
de_norm

AGE              107
SEX_NUM            2
TOTAL_AMT    4560977
PROD_AMT       54900
USE_DATA      534385
dtype: int64

In [239]:
testNormT= trainingData_features.iloc[:1]

In [240]:
testNormT

         AGE  SEX_NUM  TOTAL_AMT  PROD_AMT  USE_DATA
1065970   63        2      28900     28900       127

In [228]:
# testNormT = pd.DataFrame(testNormT)

In [241]:
testNormT['AGE'] = 10/ de_norm[0]
testNormT['SEX_NUM'] = 1 / de_norm[1]
testNormT['TOTAL_AMT'] = 30000 / de_norm[2]
testNormT['PROD_AMT'] = 20000 / de_norm[3]
testNormT['USE_DATA'] = 500 / de_norm[3]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [242]:
testNormT

              AGE  SEX_NUM  TOTAL_AMT  PROD_AMT  USE_DATA
1065970  0.093458      0.5   0.006578  0.364299  0.009107

In [243]:
predict = np.argmax(model.predict(testNormT))

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [244]:
le_prod_id.inverse_transform([predict])

array(['헬로LTE 청소년윙 19(new)'], dtype=object)

### 모델 저장

In [109]:
model_json = model.to_json()
with open("c:/Users/user/model_recomand_dnn_prod.json", "w") as json_file:
    json_file.write(model_json)

model.save_weights("c:/Users/user/model_recomand_dnn_weight.h5")

In [132]:
import pickle

In [137]:
# save
with open('c:/Users/user/model_recomand_kn_prod.pickle', 'wb') as f:
    pickle.dump(model_kn, f, pickle.HIGHEST_PROTOCOL)

In [138]:
    
# load
with open('c:/Users/user/model_recomand_kn_prod.pickle', 'rb') as f:
    data = pickle.load(f)

In [139]:
# save
with open('c:/Users/user/model_recomand_rf_prod.pickle', 'wb') as f:
    pickle.dump(model_rf, f, pickle.HIGHEST_PROTOCOL)

In [141]:
# save
with open('c:/Users/user/model_recomand_dt_prod.pickle', 'wb') as f:
    pickle.dump(model_dt, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
model_json = model_rf.to_json()
with open("c:/Users/user/model_recomand_rf_prod.json", "w") as json_file:
    json_file.write(model_json)

model_rf.save_weights("c:/Users/user/model_recomand_kn_weight.h5")

In [56]:
pwd

'C:\\Users\\User\\python'