In [83]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import sqlalchemy

In [84]:
#engine = create_engine("mysql+pymysql://root:"+"mariadb"+"@127.0.0.1:3307/ai_test?charset=utf8", encoding='utf-8')
engine = create_engine("mysql+pymysql://root:"+"mariadb"+"@10.184.9.128:3307/ai_test?charset=utf8", encoding='utf-8')

# Open database connection
db = pymysql.connect(host='10.184.9.128', port=3307, user='root', passwd='mariadb', db='ai_test',charset='utf8',autocommit=True)

conn = engine.connect()

# Connection 으로부터 Cursor 생성
curs = db.cursor()
 
# Connection 닫기
# conn.close()

### 1. 라이브러리 추가

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import LabelEncoder

### 2. 데이터 정제

In [3]:
featureData = pd.read_csv("dataset/OT_F_DATA_V4.csv", encoding="utf8")

In [4]:
len(featureData)

1612416

In [5]:
featureData['PROD_NM'].unique()

array(['헬로LTE 표준', '슬림 2GB', '슬림 1GB', '슬림 250MB', 'The 착한 데이터 10GB',
       'The 착한 데이터 6GB', 'The 착한 데이터 2GB', 'The 착한 데이터 2GB(new)',
       'The 착한 데이터 1GB', 'The 착한 데이터 300MB', '헬로LTE42(안심차단)',
       '헬로LTE34(안심차단)', '헬로LTE29', '헬로LTE17', '헬로LTE 청소년윙 19(new)'],
      dtype=object)

In [6]:
featureData.dtypes

USE_YYMM                int64
CTRT_ID                object
PROD_ID                object
PROD_NM                object
USE_VOICE               int64
USE_OVER_VOICE_AMT    float64
USE_SMS                 int64
USE_OVER_SMS_AMT        int64
USE_DATA                int64
USE_OVER_DATA_AMT     float64
PROD_AMT                int64
PROD_VOICE              int64
PROD_SMS                int64
PROD_DATA               int64
DATA_LIMIT_YN           int64
CUST_ID                object
ACT_DTTM                int64
ORDER_TP                int64
PROMOTION_NM           object
CUST_TP                object
SEX_TP                 object
BIRTH_DT                int64
AGE                     int64
SEX_NUM                 int64
TOTAL_AMT               int64
dtype: object

In [7]:
le_prod_id = LabelEncoder()

In [8]:
featureData["LE_PROD_NM"] = le_prod_id.fit_transform(featureData.PROD_NM)

In [9]:
featureData.head()
featureData['LE_PROD_NM'].unique()

array([10,  8,  6,  7,  0,  5,  2,  3,  1,  4, 14, 13, 12, 11,  9],
      dtype=int64)

In [10]:
features = ['AGE',
            'SEX_NUM',
            'TOTAL_AMT',
            'PROD_AMT',
            'USE_DATA'
            ]
label = ['LE_PROD_NM']

groupKey = ['AGE_CATE']

In [11]:
de_norm = featureData[features].max()

In [12]:
de_norm

AGE              107
SEX_NUM            2
TOTAL_AMT    4560977
PROD_AMT       54900
USE_DATA      534385
dtype: int64

In [13]:
def cate_age(age):
    if age <= 13:
#         age = '13'
        age = 1
    elif age <= 24:
#         age = '24
        age = 2
    elif age <= 40:
#         age = '40'
        age = 3
    elif age <= 60:
#         age = '60'
        age = 4
    else:
        age = 5
#         age = '108'
        
    return age

In [14]:
featureData['AGE_CATE'] = featureData['AGE'].apply(cate_age)

In [15]:
featureData[featureData.CUST_TP != 'A']

Empty DataFrame
Columns: [USE_YYMM, CTRT_ID, PROD_ID, PROD_NM, USE_VOICE, USE_OVER_VOICE_AMT, USE_SMS, USE_OVER_SMS_AMT, USE_DATA, USE_OVER_DATA_AMT, PROD_AMT, PROD_VOICE, PROD_SMS, PROD_DATA, DATA_LIMIT_YN, CUST_ID, ACT_DTTM, ORDER_TP, PROMOTION_NM, CUST_TP, SEX_TP, BIRTH_DT, AGE, SEX_NUM, TOTAL_AMT, LE_PROD_NM, AGE_CATE]
Index: []

[0 rows x 27 columns]

In [16]:
featureData.groupby('AGE_CATE').count()

,USE_YYMM,CTRT_ID,PROD_ID,PROD_NM,USE_VOICE,USE_OVER_VOICE_AMT,USE_SMS,USE_OVER_SMS_AMT,USE_DATA,USE_OVER_DATA_AMT,...,ACT_DTTM,ORDER_TP,PROMOTION_NM,CUST_TP,SEX_TP,BIRTH_DT,AGE,SEX_NUM,TOTAL_AMT,LE_PROD_NM
AGE_CATE,,,,,,,,,,,,,,,,,,,,,
1,64165,64165,64165,64165,64165,64165,64165,64165,64165,64165,...,64165,64165,64165,64165,64165,64165,64165,64165,64165,64165
2,109226,109226,109226,109226,109226,109226,109226,109226,109226,109226,...,109226,109226,109226,109226,109226,109226,109226,109226,109226,109226
3,386859,386859,386859,386859,386859,386859,386859,386859,386859,386859,...,386859,386859,386859,386859,386859,386859,386859,386859,386859,386859
4,578835,578835,578835,578835,578835,578835,578835,578835,578835,578835,...,578835,578835,578835,578835,578835,578835,578835,578835,578835,578835
5,473331,473331,473331,473331,473331,473331,473331,473331,473331,473331,...,473331,473331,473331,473331,473331,473331,473331,473331,473331,473331

In [17]:
#featureData = featureData[featureData.AGE_CATE==1]

In [18]:
featureData.head(10)

,USE_YYMM,CTRT_ID,PROD_ID,PROD_NM,USE_VOICE,USE_OVER_VOICE_AMT,USE_SMS,USE_OVER_SMS_AMT,USE_DATA,USE_OVER_DATA_AMT,...,ORDER_TP,PROMOTION_NM,CUST_TP,SEX_TP,BIRTH_DT,AGE,SEX_NUM,TOTAL_AMT,LE_PROD_NM,AGE_CATE
0,201901,C013600189,PDB0000160,헬로LTE 표준,34,3702.6,316,7230,0,0.00,...,103,S1766924,A,M,20090717,10,1,19932,10,1
1,201901,C013896915,PDB0000160,헬로LTE 표준,2,268.2,0,0,0,0.00,...,103,S1805493,A,F,19370720,82,2,9268,10,5
2,201901,C013819537,PDB0000160,헬로LTE 표준,107,11516.4,0,0,0,0.00,...,103,S1892823,A,F,19600215,59,2,20516,10,4
3,201901,C013934795,PDB0000160,헬로LTE 표준,119,12879.0,3,60,0,0.00,...,103,S1811227,A,M,19840610,35,1,21939,10,3
4,201901,C013753524,PDB0000160,헬로LTE 표준,0,0.0,36,720,0,0.00,...,103,S1883277,A,F,19740521,45,2,9720,10,4
5,201901,C013730887,PDB0000160,헬로LTE 표준,2,239.4,0,0,25,510.92,...,101,S1880840,A,F,19810322,38,2,9750,10,3
6,201901,C013685940,PDB0000160,헬로LTE 표준,13,1355.4,0,0,0,0.00,...,102,S1776603,A,M,19461025,73,1,10355,10,5
7,201901,C013772927,PDB0000160,헬로LTE 표준,49,5344.2,2,400,0,0.00,...,103,S1884999,A,M,19701128,48,1,14744,10,4
8,201901,C013881550,PDB0000160,헬로LTE 표준,87,9378.0,0,0,0,0.00,...,103,S1802864,A,F,19370808,82,2,18378,10,5
9,201901,C013831921,PDB0000160,헬로LTE 표준,58,6147.0,35,700,25,521.15,...,103,S1894507,A,F,19650420,54,2,16368,10,4

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
trainingData_features,testData_features,trainingData_label,testData_label,trainingData_all,testData_all = \
train_test_split(featureData[features],featureData[label],featureData, test_size=0.2, random_state=1)

In [21]:
from tensorflow.keras.utils import to_categorical

In [22]:
trainingData_labels_one = to_categorical(trainingData_label)
testData_labels_one = to_categorical(testData_label)

In [23]:
def norm(x):
    return (x/x.max())

In [24]:
trainingData_features_normed = norm(trainingData_features)
testData_features_normed = norm(testData_features)

In [25]:
##normed 데이터에 age_cate 추가
trainingData_features_normed_all = pd.concat([trainingData_features_normed , trainingData_all['AGE_CATE']], axis = 1)
testData_features_normed_all = pd.concat([testData_features_normed , testData_all['AGE_CATE']], axis = 1)

In [26]:
testData_features_normed_all.head(5)

              AGE  SEX_NUM  TOTAL_AMT  PROD_AMT  USE_DATA  AGE_CATE
1538448  0.112150      1.0   0.016022  0.346084  0.000000         1
1146069  0.700935      1.0   0.024370  0.526412  0.000000         5
1193647  0.570093      1.0   0.024370  0.526412  0.000606         5
263118   0.551402      0.5   0.016022  0.346084  0.000090         4
1152922  0.420561      1.0   0.024370  0.526412  0.000676         4

### 3. 모델 생성

In [27]:
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Flatten
from sklearn import tree
from sklearn import linear_model
from sklearn import ensemble
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import neighbors
from sklearn import decomposition

from keras.losses import sparse_categorical_crossentropy

Using TensorFlow backend.

### 나이대별 학습 데이터 생성

In [120]:
def predict_model(onegroup):
    eachgroup = onegroup.reset_index(drop=True)
    
    print(str(onegroup['AGE_CATE'].unique()) +' ' +'대 학습 시작--------------')
    
    ## 2. 학습 테스트 데이터 분리
    trainingData_features,testData_features,trainingData_label,testData_label,trainingData_all,testData_all = \
    train_test_split(eachgroup[features],eachgroup[label],eachgroup, test_size=0.2, random_state=1)

    ## 2.1 one hot 인코딩
    trainingData_labels_one = to_categorical(trainingData_label)
    testData_labels_one = to_categorical(testData_label)

    ## 2.2 테스트 데이터 normal 화
    trainingData_features_normed = norm(trainingData_features)
    testData_features_normed = norm(testData_features)

    ## 3. 모델 생성
    trainingData_features  = trainingData_features.reset_index(drop=True)
    testData_features      = testData_features.reset_index(drop=True)
    trainingData_label     = trainingData_label.reset_index(drop=True)
    testData_label         = testData_label.reset_index(drop=True)
    trainingData_all       = trainingData_all.reset_index(drop=True)
    testData_all           = testData_all.reset_index(drop=True)

    inputDim = trainingData_features.loc[0,:].shape

#     outputShape = len(onegroup['LE_PROD_NM'].unique())
    
    outputShape = 15
    
    print('outputShape : ' + str(outputShape))

#     model_method_svm = svm.SVC(random_state=1)  svc는 정확도 추출이 안된 제거
    model_method_dt = tree.DecisionTreeClassifier(random_state =1)    #DecisionTreeRegressor(random_state =1) ,maxdepth=15
    model_method_kn = neighbors.KNeighborsClassifier(n_neighbors=10)
    model_method_rf = ensemble.RandomForestClassifier(random_state =1, n_estimators= 10)

    model_dnn = Sequential()
    model_dnn.add(Dense(units=128, activation="relu",input_shape=inputDim))
    model_dnn.add(Dense(units=128, activation="relu"))
    model_dnn.add(Dense(units=outputShape, activation="softmax"))

    ### 4. 모델 컴파일
    model_dnn.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])
#     model_dnn.compile(loss="sparse_categorical_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    ## 5. 모델 학습하기
    model_dnn.fit(x=trainingData_features_normed,y=trainingData_labels_one, epochs=5,
          batch_size = 32,
         validation_data=(testData_features_normed,testData_labels_one))
    
    
    # model_svm = model_method_svm.fit(trainingData_features_normed ,trainingData_labels_one)
    model_dt  = model_method_dt.fit (trainingData_features_normed ,trainingData_label)  ##카테고리 가능
    model_kn  = model_method_kn.fit (trainingData_features_normed ,trainingData_label)
    model_rf  = model_method_rf.fit (trainingData_features_normed ,trainingData_label)
    
    # * 4. 예측
    predict_dnn = model_dnn.predict(testData_features_normed)
    predict_dt = model_dt.predict(testData_features_normed)
    predict_kn = model_kn.predict(testData_features_normed)
    predict_rf = model_rf.predict(testData_features_normed)
    
    testData_all["PREDICT_DNN"] = pd.DataFrame(predict_dnn).idxmax(axis=1)
    testData_all["PREDICT_DT"]  = predict_dt
    testData_all["PREDICT_KN"]  = predict_kn
    testData_all["PREDICT_RF"]  = predict_rf
    
    return testData_all

In [121]:
finalResult = featureData.groupby(groupKey).apply(predict_model)

[1] 대 학습 시작--------------
outputShape : 15
WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 51332 samples, validate on 12833 samples
Epoch 1/5
51332/51332 [==============================] - 2s 46us/sample - loss: 0.6071 - accuracy: 0.8377 - val_loss: 0.4233 - val_accuracy: 0.8801
Epoch 2/5
51332/51332 [==============================] - 2s 44us/sample - loss: 0.3309 - accuracy: 0.8992 - val_loss: 0.2861 - val_accuracy: 0.9173
Epoch 3/5
51332/51332 [==============================] - 2s 44us/sample - loss: 0.2487 - accuracy: 0.9292 - val_loss: 0.2479 - val_accuracy: 0.9373
Epoch 4/5
51332/51332 [==============================] - 2s 45us/sample - loss: 0.2098 - accuracy: 0.9415 - val_loss: 0.2401 - val_accuracy: 0.9409
Epoch 5/5
51332/51332 [==============================] - 2s 45us/sample - loss: 0.1810 - accuracy: 0.9520 - val_loss: 0.2921 - val_accuracy: 0.9462

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:57: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

[2] 대 학습 시작--------------
outputShape : 15
WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 87380 samples, validate on 21846 samples
Epoch 1/5
87380/87380 [==============================] - 4s 51us/sample - loss: 0.6512 - accuracy: 0.7848 - val_loss: 0.3226 - val_accuracy: 0.8832
Epoch 2/5
87380/87380 [==============================] - 4s 50us/sample - loss: 0.2524 - accuracy: 0.9069 - val_loss: 0.2008 - val_accuracy: 0.9185
Epoch 3/5
87380/87380 [==============================] - 4s 49us/sample - loss: 0.1858 - accuracy: 0.9254 - val_loss: 0.1759 - val_accuracy: 0.9140
Epoch 4/5
87380/87380 [==============================] - 4s 49us/sample - loss: 0.1650 - accuracy: 0.9278 - val_loss: 0.1532 - val_accuracy: 0.9307
Epoch 5/5
87380/87380 [==============================] - 4s 48us/sample - loss: 0.1557 - accuracy: 0.9289 - val_loss: 0.1714 - val_accuracy: 0.9266

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:57: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
[3] 대 학습 시작--------------
outputShape : 15
WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 309487 samples, validate on 77372 samples
Epoch 1/5
309487/309487 [==============================] - 15s 47us/sample - loss: 0.2325 - accuracy: 0.9060 - val_loss: 0.0931 - val_accuracy: 0.9464
Epoch 2/5
309487/309487 [==============================] - 14s 47us/sample - loss: 0.0925 - accuracy: 0.9464 - val_loss: 0.0963 - val_accuracy: 0.9480
Epoch 3/5
309487/309487 [==============================] - 14s 45us/sample - loss: 0.0890 - accuracy: 0.9468 - val_loss: 0.0855 - val_accuracy: 0.9482
Epoch 4/5
309487/309487 [==============================] - 15s 47us/sample - loss: 0.0896 - accuracy: 0.9464 - val_loss: 0.0835 - val_accuracy: 0.9480
Epoch 5/5
309487/309487 [==============================] - 13s 43us/sample - loss: 0.0877 - accuracy: 0.9475 - val_loss: 0.0882 - val_accuracy: 0.9527

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:57: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
[4] 대 학습 시작--------------
outputShape : 15
WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 463068 samples, validate on 115767 samples
Epoch 1/5
463068/463068 [==============================] - 20s 44us/sample - loss: 0.2915 - accuracy: 0.8741 - val_loss: 0.1675 - val_accuracy: 0.9089
Epoch 2/5
463068/463068 [==============================] - 19s 42us/sample - loss: 0.1635 - accuracy: 0.9079 - val_loss: 0.1991 - val_accuracy: 0.9089
Epoch 3/5
463068/463068 [==============================] - 20s 42us/sample - loss: 0.1611 - accuracy: 0.9082 - val_loss: 0.1521 - val_accuracy: 0.9098
Epoch 4/5
463068/463068 [==============================] - 20s 43us/sample - loss: 0.1593 - accuracy: 0.9090 - val_loss: 0.1539 - val_accuracy: 0.9089
Epoch 5/5
463068/463068 [==============================] - 20s 43us/sample - loss: 0.1578 - accuracy: 0.9093 - val_loss: 0.1584 - val_accuracy: 0.9089

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:57: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
[5] 대 학습 시작--------------
outputShape : 15
WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 378664 samples, validate on 94667 samples
Epoch 1/5
378664/378664 [==============================] - 18s 46us/sample - loss: 0.3122 - accuracy: 0.8820 - val_loss: 0.1842 - val_accuracy: 0.9317
Epoch 2/5
378664/378664 [==============================] - 17s 46us/sample - loss: 0.1554 - accuracy: 0.9224 - val_loss: 0.1611 - val_accuracy: 0.9249
Epoch 3/5
378664/378664 [==============================] - 18s 49us/sample - loss: 0.1509 - accuracy: 0.9245 - val_loss: 0.1393 - val_accuracy: 0.9249
Epoch 4/5
378664/378664 [==============================] - 16s 43us/sample - loss: 0.1477 - accuracy: 0.9251 - val_loss: 0.1352 - val_accuracy: 0.9232
Epoch 5/5
378664/378664 [==============================] - 16s 42us/sample - loss: 0.1449 - accuracy: 0.9268 - val_loss: 0.1316 - val_accuracy: 0.9465

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:57: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [117]:
finalResult[finalResult.PREDICT_DNN != 0]

                USE_YYMM     CTRT_ID     PROD_ID          PROD_NM  USE_VOICE  \
AGE_CATE
1        450      201903  C013559078  PDB0000092   The 착한 데이터 2GB        382
         597      201907  C013530691  PDB0000075          헬로LTE17        651
         677      201902  C013887239  PDB0000075          헬로LTE17          7
         894      201904  C013963060  PDB0000160         헬로LTE 표준        258
         1346     201902  C013856955  PDB0000153         슬림 250MB        589
...                  ...         ...         ...              ...        ...
5        79219    201908  C013694317  PDB0000160         헬로LTE 표준       1323
         84519    201908  C013916258  PDB0000160         헬로LTE 표준       1528
         85646    201909  C013750411  PDB0000094  The 착한 데이터 10GB          0
         86498    201909  C014139462  PDB0000160         헬로LTE 표준        587
         93482    201907  C013994921  PDB0000094  The 착한 데이터 10GB         26

                USE_OVER_VOICE_AMT  USE_SMS  USE_OVER_SMS_AMT  USE_DATA  \
AGE_CATE
1        450              18435.00       50                 0      7791
         597              64576.77      123              3190       232
         677                  0.00        1                20      3653
         894              29166.60       69              3180         0
         1346             53560.20       15                 0         0
...                            ...      ...               ...       ...
5        79219           142842.60        0                 0         0
         84519           165034.80        0                 0         0
         85646                0.00        0                 0    186712
         86498            63422.40        4                80      2685
         93482                0.00        0                 0    277179

                USE_OVER_DATA_AMT  ...  BIRTH_DT  AGE  SEX_NUM  TOTAL_AMT  \
AGE_CATE                           ...
1        450            120332.03  ...  20060616   13        2     175667
         597              2712.88  ...  20070911   12        2      88379
         677             72759.12  ...  20060523   13        1      90679
         894                 0.00  ...  20110607    8        2      41346
         1346                0.00  ...  20090514   10        1      72560
...                           ...  ...       ...  ...      ...        ...
5        79219               0.00  ...  19450305   74        2     151842
         84519               0.00  ...  19361006   83        2     174034
         85646               0.00  ...  19511216   67        1      54900
         86498           54993.68  ...  19570915   62        2     127496
         93482               0.00  ...  19581120   61        1      54900

                LE_PROD_NM AGE_CATE  PREDICT_DNN  PREDICT_DT PREDICT_KN  \
AGE_CATE
1        450             2        1            3           0          3
         597            11        1            3           0          3
         677            11        1            3           0          3
         894            10        1            3           0          3
         1346            7        1            3           0          3
...                    ...      ...          ...         ...        ...
5        79219          10        5            3           0          4
         84519          10        5            3           0          4
         85646           0        5           12           0          0
         86498          10        5            3           0          4
         93482           0        5            8           0          0

               PREDICT_RF
AGE_CATE
1        450            0
         597            0
         677            0
         894            0
         1346           0
...                   ...
5        79219          0
         84519          0
         85646          0
         86498          0
         93482          0

[301 rows x 31 columns]

In [126]:
finalResult.to_sql(name='TB_ORG_DATA_AGE_PREDICT_v2', con=engine, if_exists='append', index=False)

C:\Users\User\Anaconda3\lib\site-packages\pandas\io\sql.py:1336: UserWarning: The provided table name 'TB_ORG_DATA_AGE_PREDICT_v2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [156]:
finalResult

                USE_YYMM     CTRT_ID     PROD_ID             PROD_NM  \
AGE_CATE
1        0        201905  C013375550  PDB0000113  헬로LTE 청소년윙 19(new)
         1        201909  C014143584  PDB0000160            헬로LTE 표준
         2        201901  C013608060  PDB0000094     The 착한 데이터 10GB
         3        201901  C013361793  PDB0000113  헬로LTE 청소년윙 19(new)
         4        201905  C013745297  PDB0000113  헬로LTE 청소년윙 19(new)
...                  ...         ...         ...                 ...
5        94662    201906  C013596508  PDB0000153            슬림 250MB
         94663    201902  C013573771  PDB0000092      The 착한 데이터 2GB
         94664    201902  C013695602  PDB0000160            헬로LTE 표준
         94665    201903  C014006257  PDB0000094     The 착한 데이터 10GB
         94666    201905  C013682669  PDB0000092      The 착한 데이터 2GB

                USE_VOICE  USE_OVER_VOICE_AMT  USE_SMS  USE_OVER_SMS_AMT  \
AGE_CATE
1        0            213                0.00     1695                 0
         1             16             1733.40        0                 0
         2             92                0.00       52                 0
         3             27                0.00     1455                 0
         4             83                0.00        0                 0
...                   ...                 ...      ...               ...
5        94662        250            16187.36        0                 0
         94663        170                0.00       15                 0
         94664         38             4138.20        0                 0
         94665         75                0.00        0                 0
         94666        176                0.00       31                 0

                USE_DATA  USE_OVER_DATA_AMT  ...  BIRTH_DT  AGE  SEX_NUM  \
AGE_CATE                                     ...
1        0             0                0.0  ...  20070724   12        2
         1             0                0.0  ...  20080626   11        1
         2         42217                0.0  ...  20060217   13        1
         3             0                0.0  ...  20060328   13        1
         4             0                0.0  ...  20070504   12        1
...                  ...                ...  ...       ...  ...      ...
5        94662         0                0.0  ...  19551101   64        2
         94663       386                0.0  ...  19550505   64        1
         94664         0                0.0  ...  19380328   81        2
         94665       160                0.0  ...  19570126   62        2
         94666      2184             2776.8  ...  19570102   62        1

                TOTAL_AMT  LE_PROD_NM AGE_CATE  PREDICT_DNN  PREDICT_DT  \
AGE_CATE
1        0          19000           9        1            9           7
         1          10733          10        1           10          10
         2          54900           0        1            0           0
         3          19000           9        1            9           9
         4          19000           9        1            9           7
...                   ...         ...      ...          ...         ...
5        94662      35187           7        5            7           7
         94663      36900           2        5            3           2
         94664      13138          10        5           10          10
         94665      54900           0        5            0           0
         94666      39676           2        5            3           3

               PREDICT_KN PREDICT_RF
AGE_CATE
1        0              9          7
         1             10         10
         2              0          0
         3              9          9
         4              9          9
...                   ...        ...
5        94662          7          7
         94663          2          2
         94664         10         10
         94665          0          0
         94666          2          2

[322485 rows x 31 columns]

In [151]:
print("PREDICT_DNN")
varavg = []
varavg2 = []
for i in range(1,6):
    print(str(i) + ' : ' + str(accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_DNN'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM'])))
    varavg.append([i,accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_DNN'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM'])])
    varavg2.append(accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_DNN'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM']))

np.average(varavg2)

PREDICT_DNN
1 : 0.9462323696719396
2 : 0.9266227226952303
3 : 0.9527219149046167
4 : 0.9089118660758247
5 : 0.9465283572945166

0.9362034461284257

In [152]:
print("PREDICT_DT")
varavg = []
varavg2 = []
for i in range(1,6):
    print(str(i) + ' : ' + str(accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_DT'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM'])))
    varavg.append([i,accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_DT'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM'])])
    varavg2.append(accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_DT'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM']))

np.average(varavg2)

PREDICT_DT
1 : 0.6886932128107224
2 : 0.8005126796667582
3 : 0.9635010081166313
4 : 0.9414686395950487
5 : 0.9619402748581871

0.8712231630094696

In [153]:
print("PREDICT_KN")
varavg = []
varavg2 = []
for i in range(1,6):
    print(str(i) + ' : ' + str(accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_KN'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM'])))
    varavg.append([i,accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_KN'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM'])])
    varavg2.append(accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_KN'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM']))

    
np.average(varavg2)

PREDICT_KN
1 : 0.6121717447206421
2 : 0.8923830449510208
3 : 0.9621956263247686
4 : 0.8681316782848307
5 : 0.9612114041851966

0.8592186996932918

In [155]:
print("PREDICT_RF")
for i in range(1,6):
    print(str(i) + ' : ' + str(accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_RF'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM'])))
    varavg.append([i,accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_RF'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM'])])
    varavg2.append(accuracy_score(finalResult[finalResult.AGE_CATE==i]['PREDICT_RF'],finalResult[finalResult.AGE_CATE==i]['LE_PROD_NM']))
    
np.average(varavg2)

PREDICT_RF
1 : 0.734746357048235
2 : 0.8015197290121762
3 : 0.9624541177687018
4 : 0.9408121485397393
5 : 0.9622571751507917

0.8662651016301709

### 디버깅 시작

In [28]:
groupDatahk = featureData.groupby(groupKey)

In [54]:
hkgroup = groupDatahk.get_group(list(groupDatahk.groups)[2])

###

In [55]:
eachgroup = hkgroup.reset_index(drop=True)

In [56]:
print(str(hkgroup['AGE_CATE'].unique()) +' ' +'대 학습 시작--------------')

[3] 대 학습 시작--------------

In [57]:
## 2. 학습 테스트 데이터 분리
trainingData_features,testData_features,trainingData_label,testData_label,trainingData_all,testData_all = \
train_test_split(eachgroup[features],eachgroup[label],eachgroup, test_size=0.2, random_state=1)

In [58]:
print(trainingData_features.shape)
print(testData_features.shape)
print(trainingData_label.shape)
print(testData_label.shape)
print(trainingData_all.shape)
print(testData_all.shape)

(309487, 5)
(77372, 5)
(309487, 1)
(77372, 1)
(309487, 27)
(77372, 27)

In [59]:
# 2.1 one hot 인코딩
trainingData_labels_one = to_categorical(trainingData_label)
testData_labels_one = to_categorical(testData_label)

## 2.2 테스트 데이터 normal 화
trainingData_features_normed = norm(trainingData_features)
testData_features_normed = norm(testData_features)

In [60]:
## 3. 모델 생성
trainingData_features  = trainingData_features.reset_index(drop=True)
testData_features      = testData_features.reset_index(drop=True)
trainingData_label     = trainingData_label.reset_index(drop=True)
testData_label         = testData_label.reset_index(drop=True)
trainingData_all       = trainingData_all.reset_index(drop=True)
testData_all           = testData_all.reset_index(drop=True)

In [61]:
trainingData_label.LE_PROD_NM.unique()

array([ 5,  0,  7, 10,  8,  3, 13, 11,  4, 14,  6, 12,  1,  2],
      dtype=int64)

In [62]:
testData_label.LE_PROD_NM.unique()

array([ 3,  5,  2,  0, 12, 11,  7,  1,  8, 14, 13,  4, 10,  6],
      dtype=int64)

In [63]:
inputDim = trainingData_features.loc[0,:].shape
inputDim

(5,)

In [64]:
#     outputShape = len(onegroup['LE_PROD_NM'].unique())

outputShape = 15

In [65]:
print('outputShape : ' + str(outputShape))

#     model_method_svm = svm.SVC(random_state=1)  svc는 정확도 추출이 안된 제거
model_method_dt = tree.DecisionTreeClassifier(random_state =1)    #DecisionTreeRegressor(random_state =1) ,maxdepth=15
model_method_kn = neighbors.KNeighborsClassifier(n_neighbors=10)
model_method_rf = ensemble.RandomForestClassifier(random_state =1, n_estimators= 10)

model_dnn = Sequential()
model_dnn.add(Dense(units=256, activation="relu",input_shape=inputDim))
model_dnn.add(Dense(units=256, activation="relu"))
model_dnn.add(Dense(units=256, activation="relu"))
model_dnn.add(Dense(units=256, activation="relu"))
#     model_dnn.add(Dense(units=1024, activation="relu"))
model_dnn.add(Dense(units=outputShape, activation="softmax"))
#     model_dnn.summary()

outputShape : 15

In [66]:
### 4. 모델 컴파일
# model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])
model_dnn.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])

In [67]:
## 5. 모델 학습하기
model_dnn.fit(x=trainingData_features_normed,y=trainingData_labels_one, epochs=10,
      batch_size = 32,
     validation_data=(testData_features_normed,testData_labels_one))

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 309487 samples, validate on 77372 samples
Epoch 1/10
309487/309487 [==============================] - 30s 96us/sample - loss: 0.1749 - accuracy: 0.9190 - val_loss: 0.0900 - val_accuracy: 0.9480
Epoch 2/10
309487/309487 [==============================] - 28s 92us/sample - loss: 0.2555 - accuracy: 0.9302 - val_loss: 0.1886 - val_accuracy: 0.8918
Epoch 3/10
309487/309487 [==============================] - 28s 91us/sample - loss: 0.1072 - accuracy: 0.9426 - val_loss: 0.1016 - val_accuracy: 0.9438
Epoch 4/10
309487/309487 [==============================] - 28s 90us/sample - loss: 0.1069 - accuracy: 0.9433 - val_loss: 0.0871 - val_accuracy: 0.9480
Epoch 5/10
309487/309487 [==============================] - 28s 91us/sample - loss: 0.1073 - accuracy: 0.9427 - val_loss: 0.0951 - val_accuracy: 0.9478
Epoch 6/10
309487/309487 [==============================] - 28s 90us/sample - loss: 0.1019 - accuracy: 0.9445 - val_loss: 0.0840 - val_accuracy: 0.9480
Epoch 7/10
309487/309487 [==============================] - 28s 90us/sample - loss: 0.0977 - accuracy: 0.9448 - val_loss: 0.0853 - val_accuracy: 0.9480
Epoch 8/10
309487/309487 [==============================] - 28s 90us/sample - loss: 0.1006 - accuracy: 0.9435 - val_loss: 0.0882 - val_accuracy: 0.9479
Epoch 9/10
309487/309487 [==============================] - 27s 89us/sample - loss: 0.0948 - accuracy: 0.9456 - val_loss: 0.0882 - val_accuracy: 0.9478
Epoch 10/10
309487/309487 [==============================] - 29s 93us/sample - loss: 0.8273 - accuracy: 0.9010 - val_loss: 1.0060 - val_accuracy: 0.8908

In [75]:
# model_svm = model_method_svm.fit(trainingData_features_normed ,trainingData_labels_one)
model_dt  = model_method_dt.fit (trainingData_features_normed ,trainingData_label)  ##카테고리 가능
model_kn  = model_method_kn.fit (trainingData_features_normed ,trainingData_label)
model_rf  = model_method_rf.fit (trainingData_features_normed ,trainingData_label)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [68]:
# * 4. 예측
predict_dnn = pd.DataFrame(model_dnn.predict(testData_features)).idxmax(axis=1)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [78]:
model_dt

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

In [77]:
aa = pd.DataFrame(model_dt, columns=["predict_dt"])

ValueError: DataFrame constructor not properly called!

In [70]:
testData_label

       LE_PROD_NM
0               3
1               5
2               2
3               0
4               0
...           ...
77367           8
77368           0
77369           2
77370           3
77371           0

[77372 rows x 1 columns]

In [74]:
aa[aa.predict!=0]

Empty DataFrame
Columns: [predict]
Index: []

In [144]:
# * 4. 예측
predict_dnn = model_dnn.predict(testData_features).idxmax(axis=1)
predict_dt = model_dt.predict(testData_features)
predict_kn = model_kn.predict(testData_features)
predict_rf = model_rf.predict(testData_features)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [148]:
predict_dnn

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [ ]:
testData_all["PREDICT_DNN"] = predict_dnn

In [147]:
testData_all["PREDICT_DT"]  = predict_dt
testData_all["PREDICT_KN"]  = predict_kn
testData_all["PREDICT_RF"]  = predict_rf

### 디버깅 종료

In [102]:
finalResult

                USE_YYMM     CTRT_ID     PROD_ID             PROD_NM  \
AGE_CATE
1        0        201905  C013375550  PDB0000113  헬로LTE 청소년윙 19(new)
         1        201909  C014143584  PDB0000160            헬로LTE 표준
         2        201901  C013608060  PDB0000094     The 착한 데이터 10GB
         3        201901  C013361793  PDB0000113  헬로LTE 청소년윙 19(new)
         4        201905  C013745297  PDB0000113  헬로LTE 청소년윙 19(new)
...                  ...         ...         ...                 ...
5        94662    201906  C013596508  PDB0000153            슬림 250MB
         94663    201902  C013573771  PDB0000092      The 착한 데이터 2GB
         94664    201902  C013695602  PDB0000160            헬로LTE 표준
         94665    201903  C014006257  PDB0000094     The 착한 데이터 10GB
         94666    201905  C013682669  PDB0000092      The 착한 데이터 2GB

                USE_VOICE  USE_OVER_VOICE_AMT  USE_SMS  USE_OVER_SMS_AMT  \
AGE_CATE
1        0            213                0.00     1695                 0
         1             16             1733.40        0                 0
         2             92                0.00       52                 0
         3             27                0.00     1455                 0
         4             83                0.00        0                 0
...                   ...                 ...      ...               ...
5        94662        250            16187.36        0                 0
         94663        170                0.00       15                 0
         94664         38             4138.20        0                 0
         94665         75                0.00        0                 0
         94666        176                0.00       31                 0

                USE_DATA  USE_OVER_DATA_AMT  ...  SEX_TP  BIRTH_DT  AGE  \
AGE_CATE                                     ...
1        0             0                0.0  ...       F  20070724   12
         1             0                0.0  ...       M  20080626   11
         2         42217                0.0  ...       M  20060217   13
         3             0                0.0  ...       M  20060328   13
         4             0                0.0  ...       M  20070504   12
...                  ...                ...  ...     ...       ...  ...
5        94662         0                0.0  ...       F  19551101   64
         94663       386                0.0  ...       M  19550505   64
         94664         0                0.0  ...       F  19380328   81
         94665       160                0.0  ...       F  19570126   62
         94666      2184             2776.8  ...       M  19570102   62

                SEX_NUM  TOTAL_AMT AGE_CATE  LE_PROD_NM  PREDICT_DT  \
AGE_CATE
1        0            2      19000        1           9           0
         1            1      10733        1          10           0
         2            1      54900        1           0           0
         3            1      19000        1           9           0
         4            1      19000        1           9           0
...                 ...        ...      ...         ...         ...
5        94662        2      35187        5           7           0
         94663        1      36900        5           2           0
         94664        2      13138        5          10           0
         94665        2      54900        5           0           0
         94666        1      39676        5           2           0

               PREDICT_KN PREDICT_RF
AGE_CATE
1        0              3          0
         1              3          0
         2              0          0
         3              3          0
         4              3          0
...                   ...        ...
5        94662          5          0
         94663          0          0
         94664          5          0
         94665          0          0
         94666          0          0

[322485 rows x 30 columns]

### 5. 모델 학습

In [26]:
trainingData_label

         LE_PROD_NM
1065970           4
885199            3
1068890           4
1082259           4
1444489          11
...             ...
836489            2
491263            0
470924            0
491755            0
128037            8

[1289932 rows x 1 columns]

In [57]:
model_svm = model_method_svm.fit(trainingData_features_normed ,trainingData_label['LE_PROD_NM'])

C:\Users\User\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [86]:
epochNo = 10

In [104]:
pd.DataFrame(pd.DataFrame(trainingData_labels_one).idxmax(axis=1),columns=['prod']).groupby(["prod"])[["prod"]].count()

       prod
prod
0      1282
1       431
2       140
3       838
4       895
5       347
6       676
7      2284
8       942
9     38060
10     2494
11     1349
12      271
13      622
14      701

In [118]:
model.fit(x=trainingData_features_normed,y=trainingData_label, epochs=20,
          batch_size = 32,
         validation_data=(testData_features_normed,testData_label))

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 51332 samples, validate on 12833 samples
Epoch 1/20
51332/51332 [==============================] - 53s 1ms/sample - loss: 0.4832 - accuracy: 0.8659 - val_loss: 0.7792 - val_accuracy: 0.8261
Epoch 2/20
51332/51332 [==============================] - 54s 1ms/sample - loss: 0.3568 - accuracy: 0.9020 - val_loss: 0.3283 - val_accuracy: 0.8892
Epoch 3/20
51332/51332 [==============================] - 53s 1ms/sample - loss: 0.3582 - accuracy: 0.9125 - val_loss: 0.3698 - val_accuracy: 0.8921
Epoch 4/20
51332/51332 [==============================] - 54s 1ms/sample - loss: 0.3010 - accuracy: 0.9162 - val_loss: 0.3212 - val_accuracy: 0.9045
Epoch 5/20
51332/51332 [==============================] - 53s 1ms/sample - loss: 0.2855 - accuracy: 0.9280 - val_loss: 0.7611 - val_accuracy: 0.3525
Epoch 6/20
51332/51332 [==============================] - 54s 1ms/sample - loss: 0.2996 - accuracy: 0.9372 - val_loss: 1.1150 - val_accuracy: 0.4893
Epoch 7/20
51332/51332 [==============================] - 55s 1ms/sample - loss: 0.2424 - accuracy: 0.9420 - val_loss: 0.3247 - val_accuracy: 0.9175
Epoch 8/20
51332/51332 [==============================] - 55s 1ms/sample - loss: 0.3473 - accuracy: 0.9274 - val_loss: 0.1983 - val_accuracy: 0.9342
Epoch 9/20
51332/51332 [==============================] - 54s 1ms/sample - loss: 0.1904 - accuracy: 0.9507 - val_loss: 0.1913 - val_accuracy: 0.9504
Epoch 10/20
51332/51332 [==============================] - 58s 1ms/sample - loss: 0.4109 - accuracy: 0.9310 - val_loss: 0.2112 - val_accuracy: 0.9557
Epoch 11/20
51332/51332 [==============================] - 58s 1ms/sample - loss: 0.3293 - accuracy: 0.9407 - val_loss: 0.1366 - val_accuracy: 0.9684
Epoch 12/20
51332/51332 [==============================] - 53s 1ms/sample - loss: 0.1857 - accuracy: 0.9556 - val_loss: 2.8656 - val_accuracy: 0.2579
Epoch 13/20
51332/51332 [==============================] - 53s 1ms/sample - loss: 0.2132 - accuracy: 0.9467 - val_loss: 0.4686 - val_accuracy: 0.5929
Epoch 14/20
51332/51332 [==============================] - 54s 1ms/sample - loss: 0.1776 - accuracy: 0.9568 - val_loss: 0.1340 - val_accuracy: 0.9630
Epoch 15/20
51332/51332 [==============================] - 54s 1ms/sample - loss: 0.1860 - accuracy: 0.9560 - val_loss: 0.2469 - val_accuracy: 0.9624
Epoch 16/20
51332/51332 [==============================] - 52s 1ms/sample - loss: 0.1557 - accuracy: 0.9595 - val_loss: 0.1274 - val_accuracy: 0.9681
Epoch 17/20
51332/51332 [==============================] - 54s 1ms/sample - loss: 0.2363 - accuracy: 0.9505 - val_loss: 0.3347 - val_accuracy: 0.9135
Epoch 18/20
51332/51332 [==============================] - 54s 1ms/sample - loss: 0.2169 - accuracy: 0.9410 - val_loss: 0.2894 - val_accuracy: 0.9592
Epoch 19/20
51332/51332 [==============================] - 54s 1ms/sample - loss: 0.1522 - accuracy: 0.9641 - val_loss: 0.6950 - val_accuracy: 0.5946
Epoch 20/20
51332/51332 [==============================] - 53s 1ms/sample - loss: 0.6297 - accuracy: 0.9265 - val_loss: 1.4452 - val_accuracy: 0.8819

### 6. 모델 불러오기(학습 되었을 경우만)

In [34]:
from tensorflow.keras.models import model_from_json

In [35]:
json_file = open("c:/Users/user/model_recomand_prod.json","r")
loaded_model_json = json_file.read()
json_file.close()

In [36]:
loaded_model = model_from_json(loaded_model_json)
loaded_model.load_weights("c:/Users/user/model_recomand_weight.h5")

In [76]:
# model_svm = model_method_svm.fit(trainingData_features_normed ,trainingData_labels_one)
model_dt  = model_method_dt.fit (trainingData_features_normed ,trainingData_label)  ##카테고리 가능
model_kn  = model_method_kn.fit (trainingData_features_normed ,trainingData_label)
model_rf  = model_method_rf.fit (trainingData_features_normed ,trainingData_label)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

### 추론

In [106]:
##딥러닝
le_prod_id.inverse_transform([9])

array(['헬로LTE 청소년윙 19(new)'], dtype=object)

In [44]:
## Decision Trees
le_prod_id.inverse_transform([np.argmax(model_dt.predict(testData_features_normed.head(1)))])

array(['슬림 250MB'], dtype=object)

In [52]:
## KNN 알고리즘
le_prod_id.inverse_transform([np.argmax(model_kn.predict(testData_features_normed.head(1)))])

array(['슬림 250MB'], dtype=object)

In [54]:
## 랜덤 포레스트
le_prod_id.inverse_transform([np.argmax(model_rf.predict(testData_features_normed.head(1)))])

array(['슬림 250MB'], dtype=object)

In [59]:
predict= pd.DataFrame(pd.DataFrame(model_svm.predict(testData_features_normed)).idxmax(axis=1),columns=["predict_svm"])

In [77]:
predict['predict_rf_none']= pd.DataFrame(model_rf.predict(testData_features_normed))

In [78]:
predict['predict_df_none']= pd.DataFrame(model_dt.predict(testData_features_normed))

In [79]:
predict['predict_kn_none']= pd.DataFrame(model_kn.predict(testData_features_normed))

In [58]:
test_labels_result = pd.DataFrame(pd.DataFrame(testData_labels_one).idxmax(axis=1),columns=["true_data"])

In [112]:
predict

        predict_rf  predict_df  predict_kn
0                7           7           7
1                4           4           4
2                4           4           4
3                7           7           7
4                4           4           4
...            ...         ...         ...
322479          14          14          14
322480          12          12           4
322481           8           8           8
322482           0           0           0
322483           7           7           7

[322484 rows x 3 columns]

In [60]:
accuracy_score(predict['predict_svm'],test_labels_result['true_data'])

0.02696173926595496

In [73]:
accuracy_score(predict['predict_rf'],test_labels_result['true_data'])

0.5636250292215382

In [74]:
accuracy_score(predict['predict_df'],test_labels_result['true_data'])

0.6886152887087976

In [75]:
accuracy_score(predict['predict_kn'],test_labels_result['true_data'])

0.5958856074183745

In [80]:
print(accuracy_score(predict['predict_rf_none'],test_labels_result['true_data']))
print(accuracy_score(predict['predict_df_none'],test_labels_result['true_data']))
print(accuracy_score(predict['predict_kn_none'],test_labels_result['true_data']))

0.734746357048235
0.6886932128107224
0.6121717447206421

In [82]:
predict['predict_svm']

0        0
1        0
2        0
3        0
4        0
        ..
12828    0
12829    0
12830    0
12831    0
12832    0
Name: predict_svm, Length: 12833, dtype: int64

In [85]:
print(str(predict['predict_svm']) + ' '+ str(test_labels_result['true_data']))

0        0
1        0
2        0
3        0
4        0
        ..
12828    0
12829    0
12830    0
12831    0
12832    0
Name: predict_svm, Length: 12833, dtype: int64 0         9
1        10
2         0
3         9
4         9
         ..
12828     9
12829     9
12830     9
12831     9
12832    12
Name: true_data, Length: 12833, dtype: int64

In [43]:
le_prod_id.inverse_transform([7])

array(['슬림 250MB'], dtype=object)

In [162]:
def denorm(x):
    for i in range(0,len(x.columns)):
        print(x.iloc[0][i] * de_norm[i])
    
    
    return x

In [171]:
def denorm(x):
    for i in range(0,len(x.columns)):
        print( x.columns.array[i] + ' : ' +  str(x.iloc[0][i] * de_norm[i]))
        
        
    return x

In [245]:
testNorm = denorm(testData_features_normed.head(1))
testNorm
# ;
# testNorm = testData_features_normed.head(1)

AGE : 10.0
SEX_NUM : 1.0
TOTAL_AMT : 30000.0
PROD_AMT : 20000.0
USE_DATA : 4866.894353369764

              AGE  SEX_NUM  TOTAL_AMT  PROD_AMT  USE_DATA
1538448  0.093458      0.5   0.006578  0.364299  0.009107

In [210]:
testNorm.iloc[0][0]

0.09345794392523364

In [211]:
testNorm.columns.array[0]

'AGE'

In [212]:
de_norm

AGE              107
SEX_NUM            2
TOTAL_AMT    4560977
PROD_AMT       54900
USE_DATA      534385
dtype: int64

In [239]:
testNormT= trainingData_features.iloc[:1]

In [240]:
testNormT

         AGE  SEX_NUM  TOTAL_AMT  PROD_AMT  USE_DATA
1065970   63        2      28900     28900       127

In [228]:
# testNormT = pd.DataFrame(testNormT)

In [241]:
testNormT['AGE'] = 10/ de_norm[0]
testNormT['SEX_NUM'] = 1 / de_norm[1]
testNormT['TOTAL_AMT'] = 30000 / de_norm[2]
testNormT['PROD_AMT'] = 20000 / de_norm[3]
testNormT['USE_DATA'] = 500 / de_norm[3]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [242]:
testNormT

              AGE  SEX_NUM  TOTAL_AMT  PROD_AMT  USE_DATA
1065970  0.093458      0.5   0.006578  0.364299  0.009107

In [243]:
predict = np.argmax(model.predict(testNormT))

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [244]:
le_prod_id.inverse_transform([predict])

array(['헬로LTE 청소년윙 19(new)'], dtype=object)

### 모델 저장

In [58]:
model_json = model.to_json()
with open("c:/Users/user/model_recomand_prod.json", "w") as json_file:
    json_file.write(model_json)

model.save_weights("c:/Users/user/model_recomand_weight.h5")

In [56]:
pwd

'C:\\Users\\User\\python'